<% provide(:title, 'Help') %>
<div class="container">
<h1>Help</h1>
<p>
  Instructions on how to use the site will go here
  <ul>
    <li> How to sign up </li>
    <li> How to upload games </li>
    <li> How to buy games </li>
    <li> explanation of services</li>
  </ul>
</p>
</div>
