<div class="jumbotron">
  <div class="container">
    <h3>Feature game Title</h3>
    <h4>
      See it's reviews <a href="#">here</a>. We currently have __ used, and __ new copies. with
      prices starting at $__.
    </h4>
     <%= link_to "Find it!", '#', class: "btn btn-large btn-success" %>
  </div>
</div>   

<ul>
  <li> Carousal for editors picks </li>
  <li> Carousal for retro picks </li>
  <li> Carousal for popular </li>
  <li> Carousal for recently uploaded </li>
  <li> Carousal for Shooters </li>
  <li> Carousal for Action </li>
  <li> Carousal for RPG </li> 
<ul>
