<div class="center jumbotron home-jumbo" style="width: 100%">
  <div class="container">
    <h2>Finally get the cash your games are worth.</h2>
    <h4>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h3>Selling</h3>
          <p><small>To sell a game simply sign up, and upload the game. Then let us take care of the work, and we will notify you when your game recieves an offer. Then mail us the game,  and collect your cash. </small></p>
          <p><a class="btn btn-default" href="/help" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Buying</h3>
          <p><small>Make an offer by selecting a game and clicking the make an offer button. Enter your price, then wait while we handle the bargoning. Once a deal is struck, checkout and recieve your game. </small></p>
          <p><a class="btn btn-default" href="/help" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3>Verify <span class="glyphicon glyphicon-thumbs-up" style="color: green"></span></h3>
          <p><small>Our varification proccess ensures that if you are buying a game, that you recieve it in the condition stated, and if you are selling a game you recieve your cash.</small></p>
          <p><a class="btn btn-default" href="/help" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </h4>
  </div>
  <div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <a href="/twitter-signin" class="btn btn-block btn-social btn-twitter signin_link">
        <span class="fa fa-twitter"></span> Sign Up with Twitter
      </a>
    </div>
    <div class="col-xs-12 col-md-4">
      <a class="btn btn-block btn-social btn-facebook signin_link">
        <span class="fa fa-facebook"></span> Sign Up with Facebook
      </a>
    </div>
    <div class="col-xs-12 col-md-4">
      <a href="/signup" class="btn btn-block btn-social btn-github signin_link">
        <span class="glyphicon glyphicon-user"></span> Sign Up With Us
      </a>
    </div>
  </div>
</div>
</div>   

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h3>Feature game Title</h3>
      <h4>
        See it's reviews <a href="#">here</a>. We currently have __ used, and __ new copies. with
        prices starting at $__.
      </h4>
      <%= link_to "Find it!", '#', class: "btn btn-large btn-success" %>
    </div>
  </div>   

  <ul>
    <li> Carousal for editors picks </li>
    <li> Carousal for retro picks </li>
    <li> Carousal for popular </li>
    <li> Carousal for recently uploaded </li>
    <li> Carousal for Shooters </li>
    <li> Carousal for Action </li>
    <li> Carousal for RPG </li> 
  </ul>
</div>
