<footer class="footer">
  <small>
     <h4><%= link_to "GTN", root_path, { :class => "signin_link", :style => "color: black" } %></h4>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
