<footer class="footer">
  <small>
     <%= link_to image_tag("gs_logo_black_on_white.jpg", alt: "Game Swap", class: "logo_image"), '#' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
