<footer class="footer">
  <small>
     <%= link_to image_tag("Logo_B.png", alt: "Game Swap", class: "logo_image"), '#' %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
